In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/cmc/cmc.data",header=None)

1. Wife's age (numerical)
2. Wife's education (categorical) 1=low, 2, 3, 4=high
3. Husband's education (categorical) 1=low, 2, 3, 4=high
4. Number of children ever born (numerical)
5. Wife's religion (binary) 0=Non-Islam, 1=Islam
6. Wife's now working? (binary) 0=Yes, 1=No
7. Husband's occupation (categorical) 1, 2, 3, 4
8. Standard-of-living index (categorical) 1=low, 2, 3, 4=high
9. Media exposure (binary) 0=Good, 1=Not good
10. Contraceptive method used (class attribute) 1=No-use, 2=Long-term, 3=Short-term

In [3]:
headers=["wife_age","wife_edu","husb_edu","nr_child","wife_relig","wife_work","husb_occup","living_index","media_exposure","contraceptive_use"]
data.columns=headers

In [4]:
data

,wife_age,wife_edu,husb_edu,nr_child,wife_relig,wife_work,husb_occup,living_index,media_exposure,contraceptive_use
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1
...,...,...,...,...,...,...,...,...,...,...
1468,33,4,4,2,1,0,2,4,0,3
1469,33,4,4,3,1,1,1,4,0,3
1470,39,3,3,8,1,0,1,4,0,3
1471,33,3,3,4,1,0,2,2,0,3
1472,17,3,3,1,1,1,2,4,0,3

In [5]:
data[["wife_edu","husb_edu","wife_relig","wife_work","husb_occup","living_index","media_exposure"]]=data[["wife_edu","husb_edu","wife_relig","wife_work","husb_occup","living_index","media_exposure"]].astype('category')

## Encoding

### One Hot Encoding

In [6]:
categorical=data.select_dtypes("category")
ints=data.select_dtypes("int64")

In [7]:
from sklearn.preprocessing import OneHotEncoder
enc_hot = OneHotEncoder(handle_unknown='ignore',sparse=False)
enc_hot.fit(categorical)
X=pd.DataFrame(enc_hot.transform(categorical))
X.columns=enc_hot.get_feature_names(categorical.columns)
data_encoded=pd.concat([data, X], axis=1)
data_encoded.drop(columns=categorical.columns,inplace=True)

In [11]:
data_encoded

,wife_age,nr_child,contraceptive_use,wife_edu_1,wife_edu_2,wife_edu_3,wife_edu_4,husb_edu_1,husb_edu_2,husb_edu_3,...,husb_occup_1,husb_occup_2,husb_occup_3,husb_occup_4,living_index_1,living_index_2,living_index_3,living_index_4,media_exposure_0,media_exposure_1
0,24,3,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,45,10,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,43,7,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,42,9,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,36,8,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,33,2,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1469,33,3,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1470,39,8,3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1471,33,4,3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1472,17,1,3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

One hot encoding by scikitlearn is not very handy, unless for the case that the encoder can be reverted.
For every other use where no reversion is required, it is better to use Pandas.

### one hot encoding with pandas

In [12]:
categoricaldf = pd.get_dummies(data=categorical)
encoded2=pd.concat([categoricaldf,ints],axis=1)

In [13]:
encoded2

,wife_edu_1,wife_edu_2,wife_edu_3,wife_edu_4,husb_edu_1,husb_edu_2,husb_edu_3,husb_edu_4,wife_relig_0,wife_relig_1,...,husb_occup_4,living_index_1,living_index_2,living_index_3,living_index_4,media_exposure_0,media_exposure_1,wife_age,nr_child,contraceptive_use
0,0,1,0,0,0,0,1,0,0,1,...,0,0,0,1,0,1,0,24,3,1
1,1,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,1,0,45,10,1
2,0,1,0,0,0,0,1,0,0,1,...,0,0,0,0,1,1,0,43,7,1
3,0,0,1,0,0,1,0,0,0,1,...,0,0,0,1,0,1,0,42,9,1
4,0,0,1,0,0,0,1,0,0,1,...,0,0,1,0,0,1,0,36,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,1,1,0,33,2,3
1469,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,1,1,0,33,3,3
1470,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,1,1,0,39,8,3
1471,0,0,1,0,0,0,1,0,0,1,...,0,0,1,0,0,1,0,33,4,3
1472,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,1,1,0,17,1,3

## Missing data

In [14]:
data1=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00383/risk_factors_cervical_cancer.csv")

In [15]:
pd.DataFrame(data1.value_counts().head(5)) #most frequent samples

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0
Age Number of sexual partners First sexual intercourse Num of pregnancies Smokes Smokes (years) Smokes (packs/year) Hormonal Contraceptives Hormonal Contraceptives (years) IUD IUD (years) STDs STDs (number) STDs:condylomatosis STDs:cervical condylomatosis STDs:vaginal condylomatosis STDs:vulvo-perineal condylomatosis STDs:syphilis STDs:pelvic inflammatory disease STDs:genital herpes STDs:molluscum contagiosum STDs:AIDS STDs:HIV STDs:Hepatitis B STDs:HPV STDs: Number of diagnosis STDs: Time since first diagnosis STDs: Time since last diagnosis Dx:Cancer Dx:CIN Dx:HPV Dx Hinselmann Schiller Citology Biopsy
15  1.0                       14.0                     1.0                0.0    0.0            0.0                 0.0                     0.0                             0.0 0.0         0.0  0.0           0.0                 0.0                          0.0                         0.0                                0.0           0.0                              0.0                 0.0                        0.0       0.0      0.0              0.0      0                         ?                                ?                               0         0      0      0  0          0        0        0       4
17  2.0                       15.0                     1.0                0.0    0.0            0.0                 0.0                     0.0                             0.0 0.0         0.0  0.0           0.0                 0.0                          0.0                         0.0                                0.0           0.0                              0.0                 0.0                        0.0       0.0      0.0              0.0      0                         ?                                ?                               0         0      0      0  0          0        0        0       3
    1.0                       17.0                     1.0                0.0    0.0            0.0                 0.0                     0.0                             0.0 0.0         0.0  0.0           0.0                 0.0                          0.0                         0.0                                0.0           0.0                              0.0                 0.0                        0.0       0.0      0.0              0.0      0                         ?                                ?                               0         0      0      0  0          0        0        0       2
15  2.0                       14.0                     1.0                0.0    0.0            0.0                 0.0                     0.0                             0.0 0.0         0.0  0.0           0.0                 0.0                          0.0                         0.0                                0.0           0.0                              0.0                 0.0                        0.0       0.0      0.0              0.0      0                         ?                                ?                               0         0      0      0  0          0        0        0       2
21  4.0                       15.0                     1.0                0.0    0.0            0.0                 0.0                     0.0                             0.0 0.0         0.0  0.0           0.0                 0.0                          0.0                         0.0                                0.0           0.0                              0.0                 0.0                        0.0       0.0      0.0              0.0      0                         ?                                ?                               0         0      0      0  0          1        1        1       2

In [16]:
for i in range(len(data1.columns)):
    print(data1.columns[i])
    print(data1.iloc[:,i].value_counts().head(5))

Age
23    54
18    50
21    46
20    45
19    44
Name: Age, dtype: int64
Number of sexual partners
2.0    272
3.0    208
1.0    206
4.0     78
5.0     44
Name: Number of sexual partners, dtype: int64
First sexual intercourse
15.0    163
17.0    151
18.0    137
16.0    121
14.0     79
Name: First sexual intercourse, dtype: int64
Num of pregnancies
1.0    270
2.0    240
3.0    139
4.0     74
?       56
Name: Num of pregnancies, dtype: int64
Smokes
0.0    722
1.0    123
?       13
Name: Smokes, dtype: int64
Smokes (years)
0.0            722
1.266972909     15
?               13
5.0              9
9.0              9
Name: Smokes (years), dtype: int64
Smokes (packs/year)
0.0             722
0.5132021277     18
?                13
1.0               6
3.0               5
Name: Smokes (packs/year), dtype: int64
Hormonal Contraceptives
1.0    481
0.0    269
?      108
Name: Hormonal Contraceptives, dtype: int64
Hormonal Contraceptives (years)
0.0     269
?       108
1.0      77
0.25     41
2.0      40
Name: Hormonal Contraceptives (years), dtype: int64
IUD
0.0    658
?      117
1.0     83
Name: IUD, dtype: int64
IUD (years)
0.0    658
?      117
3.0     11
2.0     10
5.0      9
Name: IUD (years), dtype: int64
STDs
0.0    674
?      105
1.0     79
Name: STDs, dtype: int64
STDs (number)
0.0    674
?      105
2.0     37
1.0     34
3.0      7
Name: STDs (number), dtype: int64
STDs:condylomatosis
0.0    709
?      105
1.0     44
Name: STDs:condylomatosis, dtype: int64
STDs:cervical condylomatosis
0.0    753
?      105
Name: STDs:cervical condylomatosis, dtype: int64
STDs:vaginal condylomatosis
0.0    749
?      105
1.0      4
Name: STDs:vaginal condylomatosis, dtype: int64
STDs:vulvo-perineal condylomatosis
0.0    710
?      105
1.0     43
Name: STDs:vulvo-perineal condylomatosis, dtype: int64
STDs:syphilis
0.0    735
?      105
1.0     18
Name: STDs:syphilis, dtype: int64
STDs:pelvic inflammatory disease
0.0    752
?      105
1.0      1
Name: STDs:pelvic inflammatory disease, dtype: int64
STDs:genital herpes
0.0    752
?      105
1.0      1
Name: STDs:genital herpes, dtype: int64
STDs:molluscum contagiosum
0.0    752
?      105
1.0      1
Name: STDs:molluscum contagiosum, dtype: int64
STDs:AIDS
0.0    753
?      105
Name: STDs:AIDS, dtype: int64
STDs:HIV
0.0    735
?      105
1.0     18
Name: STDs:HIV, dtype: int64
STDs:Hepatitis B
0.0    752
?      105
1.0      1
Name: STDs:Hepatitis B, dtype: int64
STDs:HPV
0.0    751
?      105
1.0      2
Name: STDs:HPV, dtype: int64
STDs: Number of diagnosis
0    787
1     68
2      2
3      1
Name: STDs: Number of diagnosis, dtype: int64
STDs: Time since first diagnosis
?      787
1.0     15
3.0     10
2.0      9
4.0      6
Name: STDs: Time since first diagnosis, dtype: int64
STDs: Time since last diagnosis
?      787
1.0     17
2.0     10
3.0      9
4.0      6
Name: STDs: Time since last diagnosis, dtype: int64
Dx:Cancer
0    840
1     18
Name: Dx:Cancer, dtype: int64
Dx:CIN
0    849
1      9
Name: Dx:CIN, dtype: int64
Dx:HPV
0    840
1     18
Name: Dx:HPV, dtype: int64
Dx
0    834
1     24
Name: Dx, dtype: int64
Hinselmann
0    823
1     35
Name: Hinselmann, dtype: int64
Schiller
0    784
1     74
Name: Schiller, dtype: int64
Citology
0    814
1     44
Name: Citology, dtype: int64
Biopsy
0    803
1     55
Name: Biopsy, dtype: int64

In [17]:
for i in range(len(data1.columns)):
    print(data1.columns[i])
    print(data1.iloc[:,i].unique())

Age
[18 15 34 52 46 42 51 26 45 44 27 43 40 41 39 37 38 36 35 33 31 32 30 23
 28 29 20 25 21 24 22 48 19 17 16 14 59 79 84 47 13 70 50 49]
Number of sexual partners
['4.0' '1.0' '5.0' '3.0' '2.0' '6.0' '?' '7.0' '15.0' '8.0' '10.0' '28.0'
 '9.0']
First sexual intercourse
['15.0' '14.0' '?' '16.0' '21.0' '23.0' '17.0' '26.0' '20.0' '25.0' '18.0'
 '27.0' '19.0' '24.0' '32.0' '13.0' '29.0' '11.0' '12.0' '22.0' '28.0'
 '10.0']
Num of pregnancies
['1.0' '4.0' '2.0' '6.0' '3.0' '5.0' '?' '8.0' '7.0' '0.0' '11.0' '10.0']
Smokes
['0.0' '1.0' '?']
Smokes (years)
['0.0' '37.0' '34.0' '1.266972909' '3.0' '12.0' '?' '18.0' '7.0' '19.0'
 '21.0' '15.0' '13.0' '16.0' '8.0' '4.0' '10.0' '22.0' '14.0' '0.5' '11.0'
 '9.0' '2.0' '5.0' '6.0' '1.0' '32.0' '24.0' '28.0' '20.0' '0.16']
Smokes (packs/year)
['0.0' '37.0' '3.4' '2.8' '0.04' '0.5132021277' '2.4' '6.0' '?' '9.0'
 '1.6' '19.0' '21.0' '0.32' '2.6' '0.8' '15.0' '2.0' '5.7' '1.0' '3.3'
 '3.5' '12.0' '0.025' '2.75' '0.2' '1.4' '5.0' '2.1' '0.7' '1.2' '7.5'
 '1.25' '3.0' '0.75' '0.1' '8.0' '2.25' '0.003' '7.0' '0.45' '0.15' '0.05'
 '0.25' '4.8' '4.5' '0.4' '0.37' '2.2' '0.16' '0.9' '22.0' '1.35' '0.5'
 '2.5' '4.0' '1.3' '1.65' '2.7' '0.001' '7.6' '5.5' '0.3']
Hormonal Contraceptives
['0.0' '1.0' '?']
Hormonal Contraceptives (years)
['0.0' '3.0' '15.0' '2.0' '8.0' '10.0' '5.0' '0.25' '7.0' '22.0' '19.0'
 '0.5' '1.0' '0.58' '9.0' '13.0' '11.0' '4.0' '12.0' '16.0' '0.33' '?'
 '0.16' '14.0' '0.08' '2.282200521' '0.66' '6.0' '1.5' '0.42' '0.67'
 '0.75' '2.5' '4.5' '6.5' '0.17' '20.0' '3.5' '0.41' '30.0' '17.0']
IUD
['0.0' '1.0' '?']
IUD (years)
['0.0' '7.0' '?' '5.0' '8.0' '6.0' '1.0' '0.58' '2.0' '19.0' '0.5' '17.0'
 '0.08' '0.25' '10.0' '11.0' '3.0' '15.0' '12.0' '9.0' '1.5' '0.91' '4.0'
 '0.33' '0.41' '0.16' '0.17']
STDs
['0.0' '1.0' '?']
STDs (number)
['0.0' '2.0' '1.0' '?' '3.0' '4.0']
STDs:condylomatosis
['0.0' '1.0' '?']
STDs:cervical condylomatosis
['0.0' '?']
STDs:vaginal condylomatosis
['0.0' '?' '1.0']
STDs:vulvo-perineal condylomatosis
['0.0' '1.0' '?']
STDs:syphilis
['0.0' '1.0' '?']
STDs:pelvic inflammatory disease
['0.0' '?' '1.0']
STDs:genital herpes
['0.0' '?' '1.0']
STDs:molluscum contagiosum
['0.0' '?' '1.0']
STDs:AIDS
['0.0' '?']
STDs:HIV
['0.0' '1.0' '?']
STDs:Hepatitis B
['0.0' '?' '1.0']
STDs:HPV
['0.0' '?' '1.0']
STDs: Number of diagnosis
[0 1 3 2]
STDs: Time since first diagnosis
['?' '21.0' '2.0' '15.0' '19.0' '3.0' '12.0' '1.0' '11.0' '9.0' '7.0'
 '8.0' '16.0' '6.0' '5.0' '10.0' '4.0' '22.0' '18.0']
STDs: Time since last diagnosis
['?' '21.0' '2.0' '15.0' '19.0' '3.0' '12.0' '1.0' '11.0' '9.0' '7.0'
 '8.0' '16.0' '6.0' '5.0' '10.0' '4.0' '22.0' '18.0']
Dx:Cancer
[0 1]
Dx:CIN
[0 1]
Dx:HPV
[0 1]
Dx
[0 1]
Hinselmann
[0 1]
Schiller
[0 1]
Citology
[0 1]
Biopsy
[0 1]

The null value is represented by "?"

In [18]:
#using scikit learn simple Imputer
## turning ? into most frequent
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values='?', strategy='most_frequent')
X = imputer.fit_transform(data1)
X

array([[18, '4.0', '15.0', ..., 0, 0, 0],
       [15, '1.0', '14.0', ..., 0, 0, 0],
       [34, '1.0', '15.0', ..., 0, 0, 0],
       ...,
       [25, '2.0', '17.0', ..., 0, 1, 0],
       [33, '2.0', '24.0', ..., 0, 0, 0],
       [29, '2.0', '20.0', ..., 0, 0, 0]], dtype=object)

We can first transform into null for since the rest is number

In [19]:
def remove_null(e):
    if e=="?":
        return np.nan
    else:
        return e

data1=data1.applymap(remove_null)

now for another imputer for `np.nan`

In [20]:
#convert types to int
#data1.convert_dtypes().info()#try to infer datatypes (not very good)
data1.select_dtypes("object").astype("float")

,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,IUD (years),...,STDs:syphilis,STDs:pelvic inflammatory disease,STDs:genital herpes,STDs:molluscum contagiosum,STDs:AIDS,STDs:HIV,STDs:Hepatitis B,STDs:HPV,STDs: Time since first diagnosis,STDs: Time since last diagnosis
0,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,1.0,NaN,1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,3.0,18.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
854,2.0,19.0,1.0,0.0,0.0,0.0,1.0,8.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
855,2.0,17.0,0.0,0.0,0.0,0.0,1.0,0.08,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
856,2.0,24.0,2.0,0.0,0.0,0.0,1.0,0.08,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
857,2.0,20.0,1.0,0.0,0.0,0.0,1.0,0.50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [21]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
knnimputed=pd.DataFrame(imputer.fit_transform(data1))
knnimputed.columns=data1.columns

In [22]:
knnimputed

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18.0,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.00,0.0,...,1.5,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.0,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.00,0.0,...,1.5,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,34.0,1.0,24.5,1.0,0.0,0.0,0.0,0.0,0.00,0.0,...,2.5,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,52.0,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.00,0.0,...,4.0,4.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,46.0,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.00,0.0,...,21.5,21.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,34.0,3.0,18.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,7.5,7.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
854,32.0,2.0,19.0,1.0,0.0,0.0,0.0,1.0,8.00,0.0,...,8.5,8.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
855,25.0,2.0,17.0,0.0,0.0,0.0,0.0,1.0,0.08,0.0,...,3.5,3.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
856,33.0,2.0,24.0,2.0,0.0,0.0,0.0,1.0,0.08,0.0,...,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
857,29.0,2.0,20.0,1.0,0.0,0.0,0.0,1.0,0.50,0.0,...,5.5,5.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Create features

In [23]:
#apply lambda function to a column
data1['Biopsy'].apply(lambda x: x+1)

0      1
1      1
2      1
3      1
4      1
      ..
853    1
854    1
855    1
856    1
857    1
Name: Biopsy, Length: 858, dtype: int64

In [24]:
#over all dataset
def if_1_10(e):
    if e==1.0:
        return 10
    else:
        return e

data1.applymap(if_1_10)#works with lambda as well

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,STDs: Time since first diagnosis,STDs: Time since last diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
2,34,1.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
3,52,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.0,0.0,...,NaN,NaN,10,0,10,0,0,0,0,0
4,46,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,34,3.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
854,32,2.0,19.0,1.0,0.0,0.0,0.0,1.0,8.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
855,25,2.0,17.0,0.0,0.0,0.0,0.0,1.0,0.08,0.0,...,NaN,NaN,0,0,0,0,0,0,10,0
856,33,2.0,24.0,2.0,0.0,0.0,0.0,1.0,0.08,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
857,29,2.0,20.0,1.0,0.0,0.0,0.0,1.0,0.5,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0

In [33]:
# apply function with several columns
def two_rows(row):
    two=float(row["Number of sexual partners"]) + float(row["First sexual intercourse"])
    return two
    
data1["two_rows"]=data1.apply(two_rows,axis=1)

In [58]:
#returning several columns
def separaters(element):
    if element["Age"]==18:
        return "one","two"
    else:
        return "three","four"

data1[["one","two"]]=data1.apply(separaters,axis=1,result_type="expand")#only works for full df

## Detecting outtliers

In [ ]:
from sklearn.covariance import EllipticEnvelope
# Create detector
outlier_detector = EllipticEnvelope(contamination=.1)

# Fit detector
outlier_detector.fit(knnimputed)

# Predict outliers
detec=outlier_detector.predict(knnimputed) #return an npArray with the same number of element as rows of original

In [ ]:
#transform array of -1 (outlier) and 1 (non.outlier) to a boolean and filter DF
toBool = lambda t: True if (t==-1) else False

detec_bool = np.array([toBool(xi) for xi in detec])

In [ ]:
outliers=knnimputed.iloc[detec_bool,:]
outliers

## Operations with DataFrame

In [59]:
#counts
data1["Age"].value_counts()

23    54
18    50
21    46
20    45
19    44
24    39
25    39
26    38
28    37
30    35
17    35
29    33
27    33
22    30
35    29
33    28
31    27
36    24
34    24
16    23
15    21
32    18
37    17
41    13
40    12
39     9
38     9
45     6
44     6
42     6
43     5
14     5
46     3
48     2
49     2
52     2
70     2
84     1
79     1
47     1
50     1
51     1
59     1
13     1
Name: Age, dtype: int64

In [62]:
#filtering and selecting columns
data1[data1["Age"]>25][["Number of sexual partners","First sexual intercourse"]]

    Number of sexual partners First sexual intercourse
2                         1.0                      NaN
3                         5.0                     16.0
4                         3.0                     21.0
5                         3.0                     23.0
6                         3.0                     17.0
..                        ...                      ...
852                       3.0                     17.0
853                       3.0                     18.0
854                       2.0                     19.0
856                       2.0                     24.0
857                       2.0                     20.0

[426 rows x 2 columns]

In [65]:
##multiple filters
data1[(data1["Age"]>25) & (data1["Age"]<40)][["Number of sexual partners","First sexual intercourse"]]

    Number of sexual partners First sexual intercourse
2                         1.0                      NaN
7                         1.0                     26.0
11                        1.0                     17.0
26                        5.0                     23.0
27                        2.0                     17.0
..                        ...                      ...
849                       3.0                     18.0
853                       3.0                     18.0
854                       2.0                     19.0
856                       2.0                     24.0
857                       2.0                     20.0

[361 rows x 2 columns]

In [74]:
#filtering with pd.Where and related
data1.filter(items=['Age', 'IUD'])

     Age  IUD
0     18  0.0
1     15  0.0
2     34  0.0
3     52  0.0
4     46  0.0
..   ...  ...
853   34  0.0
854   32  0.0
855   25  0.0
856   33  0.0
857   29  0.0

[858 rows x 2 columns]

In [79]:
#filtering with pd.Where and related
data1["Age"].where(data1["Age"]<20) #Replace values where the condition is False.

0      18.0
1      15.0
2       NaN
3       NaN
4       NaN
       ...
853     NaN
854     NaN
855     NaN
856     NaN
857     NaN
Name: Age, Length: 858, dtype: float64

In [73]:
#df query
data1.query('Age < `STDs: Number of diagnosis` +25')

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,...,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy,two_rows,one,two
0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,19.0,one,two
1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,15.0,three,four
113,23,5.0,23.0,2.0,0.0,0.0,0.0,1.0,2.0,0.0,...,0,0,0,0,0,0,0,28.0,three,four
141,20,3.0,18.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,21.0,three,four
169,18,3.0,18.0,4.0,0.0,0.0,0.0,1.0,5.0,0.0,...,0,0,0,0,0,0,0,21.0,one,two
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,24,2.0,16.0,3.0,0.0,0.0,0.0,1.0,5.0,0.0,...,0,0,0,0,0,0,0,18.0,three,four
841,23,2.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,17.0,three,four
845,19,2.0,15.0,2.0,0.0,0.0,0.0,1.0,0.75,0.0,...,0,0,0,0,0,0,0,17.0,three,four
850,19,1.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,15.0,three,four
851,23,2.0,15.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,17.0,three,four

In [70]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858 entries, 0 to 857
Data columns (total 39 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Age                                 858 non-null    int64
 1   Number of sexual partners           832 non-null    object
 2   First sexual intercourse            851 non-null    object
 3   Num of pregnancies                  802 non-null    object
 4   Smokes                              845 non-null    object
 5   Smokes (years)                      845 non-null    object
 6   Smokes (packs/year)                 845 non-null    object
 7   Hormonal Contraceptives             750 non-null    object
 8   Hormonal Contraceptives (years)     750 non-null    object
 9   IUD                                 741 non-null    object
 10  IUD (years)                         741 non-null    object
 11  STDs                                753 non-null    object
 12  STDs (number)                       753 non-null    object
 13  STDs:condylomatosis                 753 non-null    object
 14  STDs:cervical condylomatosis        753 non-null    object
 15  STDs:vaginal condylomatosis         753 non-null    object
 16  STDs:vulvo-perineal condylomatosis  753 non-null    object
 17  STDs:syphilis                       753 non-null    object
 18  STDs:pelvic inflammatory disease    753 non-null    object
 19  STDs:genital herpes                 753 non-null    object
 20  STDs:molluscum contagiosum          753 non-null    object
 21  STDs:AIDS                           753 non-null    object
 22  STDs:HIV                            753 non-null    object
 23  STDs:Hepatitis B                    753 non-null    object
 24  STDs:HPV                            753 non-null    object
 25  STDs: Number of diagnosis           858 non-null    int64
 26  STDs: Time since first diagnosis    71 non-null     object
 27  STDs: Time since last diagnosis     71 non-null     object
 28  Dx:Cancer                           858 non-null    int64
 29  Dx:CIN                              858 non-null    int64
 30  Dx:HPV                              858 non-null    int64
 31  Dx                                  858 non-null    int64
 32  Hinselmann                          858 non-null    int64
 33  Schiller                            858 non-null    int64
 34  Citology                            858 non-null    int64
 35  Biopsy                              858 non-null    int64
 36  two_rows                            827 non-null    float64
 37  one                                 858 non-null    object
 38  two                                 858 non-null    object
dtypes: float64(1), int64(10), object(28)
memory usage: 261.5+ KB