In [104]:
import pandas as pd
import numpy as np

In [14]:
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/cmc/cmc.data",header=None)

1. Wife's age (numerical)
2. Wife's education (categorical) 1=low, 2, 3, 4=high
3. Husband's education (categorical) 1=low, 2, 3, 4=high
4. Number of children ever born (numerical)
5. Wife's religion (binary) 0=Non-Islam, 1=Islam
6. Wife's now working? (binary) 0=Yes, 1=No
7. Husband's occupation (categorical) 1, 2, 3, 4
8. Standard-of-living index (categorical) 1=low, 2, 3, 4=high
9. Media exposure (binary) 0=Good, 1=Not good
10. Contraceptive method used (class attribute) 1=No-use, 2=Long-term, 3=Short-term

In [15]:
headers=["wife_age","wife_edu","husb_edu","nr_child","wife_relig","wife_work","husb_occup","living_index","media_exposure","contraceptive_use"]
data.columns=headers

In [16]:
data

,wife_age,wife_edu,husb_edu,nr_child,wife_relig,wife_work,husb_occup,living_index,media_exposure,contraceptive_use
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1
...,...,...,...,...,...,...,...,...,...,...
1468,33,4,4,2,1,0,2,4,0,3
1469,33,4,4,3,1,1,1,4,0,3
1470,39,3,3,8,1,0,1,4,0,3
1471,33,3,3,4,1,0,2,2,0,3
1472,17,3,3,1,1,1,2,4,0,3

In [22]:
data[["wife_edu","husb_edu","wife_relig","wife_work","husb_occup","living_index","media_exposure"]]=data[["wife_edu","husb_edu","wife_relig","wife_work","husb_occup","living_index","media_exposure"]].astype('category')

## Encoding

### One Hot Encoding

In [40]:
categorical=data.select_dtypes("category")
ints=data.select_dtypes("int64")

In [13]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()

In [44]:
categorical_enconded=pd.DataFrame(enc.fit_transform(categorical).toarray())

In [61]:
encoded_columns=[]
for i in range(len(categorical.columns)):
    for j in range(len(enc.categories_[i])):
        encoded_columns.append(str(categorical.columns[i])+"_"+str(enc.categories_[i][j]))
categorical_enconded.columns=encoded_columns

In [66]:
data_enconded=pd.concat([data, categorical_enconded], axis=1)
data_enconded.drop(columns=categorical,inplace=True)

In [67]:
data_enconded

,wife_age,nr_child,contraceptive_use,wife_edu_1,wife_edu_2,wife_edu_3,wife_edu_4,husb_edu_1,husb_edu_2,husb_edu_3,...,husb_occup_1,husb_occup_2,husb_occup_3,husb_occup_4,living_index_1,living_index_2,living_index_3,living_index_4,media_exposure_0,media_exposure_1
0,24,3,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,45,10,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,43,7,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,42,9,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,36,8,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,33,2,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1469,33,3,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1470,39,8,3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1471,33,4,3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1472,17,1,3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

One hot encoding by scikitlearn is not very handy nor usefull to me. Better to use Pandas

### one hot encoding with pandas

In [72]:
categoricaldf = pd.get_dummies(data=categorical)
encoded2=pd.concat([categoricaldf,ints],axis=1)

In [73]:
encoded2

,wife_edu_1,wife_edu_2,wife_edu_3,wife_edu_4,husb_edu_1,husb_edu_2,husb_edu_3,husb_edu_4,wife_relig_0,wife_relig_1,...,husb_occup_4,living_index_1,living_index_2,living_index_3,living_index_4,media_exposure_0,media_exposure_1,wife_age,nr_child,contraceptive_use
0,0,1,0,0,0,0,1,0,0,1,...,0,0,0,1,0,1,0,24,3,1
1,1,0,0,0,0,0,1,0,0,1,...,0,0,0,0,1,1,0,45,10,1
2,0,1,0,0,0,0,1,0,0,1,...,0,0,0,0,1,1,0,43,7,1
3,0,0,1,0,0,1,0,0,0,1,...,0,0,0,1,0,1,0,42,9,1
4,0,0,1,0,0,0,1,0,0,1,...,0,0,1,0,0,1,0,36,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,1,1,0,33,2,3
1469,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,1,1,0,33,3,3
1470,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,1,1,0,39,8,3
1471,0,0,1,0,0,0,1,0,0,1,...,0,0,1,0,0,1,0,33,4,3
1472,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,1,1,0,17,1,3

## Missing data

In [74]:
data1=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00383/risk_factors_cervical_cancer.csv")

In [130]:
pd.DataFrame(data1.value_counts().head(5)) #most frequent samples

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0
Age Number of sexual partners First sexual intercourse Num of pregnancies Smokes Smokes (years) Smokes (packs/year) Hormonal Contraceptives Hormonal Contraceptives (years) IUD IUD (years) STDs STDs (number) STDs:condylomatosis STDs:cervical condylomatosis STDs:vaginal condylomatosis STDs:vulvo-perineal condylomatosis STDs:syphilis STDs:pelvic inflammatory disease STDs:genital herpes STDs:molluscum contagiosum STDs:AIDS STDs:HIV STDs:Hepatitis B STDs:HPV STDs: Number of diagnosis STDs: Time since first diagnosis STDs: Time since last diagnosis Dx:Cancer Dx:CIN Dx:HPV Dx Hinselmann Schiller Citology Biopsy
49  2.0                       15.0                     6.0                0.0    0.0            0.0                 1.0                     2.0                             0.0 0.0         1.0  1.0           0.0                 0.0                          0.0                         0.0                                1.0           0.0                              0.0                 0.0                        0.0       0.0      0.0              0.0      1                         3.0                              3.0                             0         0      0      0  0          0        0        0       1
20  1.0                       19.0                     1.0                0.0    0.0            0.0                 1.0                     0.25                            0.0 0.0         1.0  1.0           0.0                 0.0                          0.0                         0.0                                0.0           0.0                              1.0                 0.0                        0.0       0.0      0.0              0.0      1                         1.0                              1.0                             0         0      0      0  0          0        0        1       1
26  3.0                       17.0                     3.0                0.0    0.0            0.0                 1.0                     0.25                            0.0 0.0         1.0  1.0           0.0                 0.0                          0.0                         0.0                                1.0           0.0                              0.0                 0.0                        0.0       0.0      0.0              0.0      1                         7.0                              7.0                             0         0      0      0  0          0        0        0       1
25  6.0                       17.0                     2.0                0.0    0.0            0.0                 1.0                     2.0                             0.0 0.0         1.0  3.0           1.0                 0.0                          0.0                         1.0                                0.0           0.0                              0.0                 0.0                        0.0       1.0      0.0              0.0      1                         4.0                              4.0                             0         0      0      0  0          1        1        1       1
    4.0                       15.0                     3.0                1.0    7.0            0.7                 0.0                     0.0                             0.0 0.0         1.0  2.0           1.0                 0.0                          0.0                         1.0                                0.0           0.0                              0.0                 0.0                        0.0       0.0      0.0              0.0      1                         5.0                              5.0                             0         0      0      0  0          1        0        0       1

In [135]:
for i in range(len(data1.columns)):
    print(data1.columns[i])
    print(data1.iloc[:,i].value_counts().head(5))

Age
23    54
18    50
21    46
20    45
19    44
Name: Age, dtype: int64
Number of sexual partners
2.0    272
3.0    208
1.0    206
4.0     78
5.0     44
Name: Number of sexual partners, dtype: int64
First sexual intercourse
15.0    163
17.0    151
18.0    137
16.0    121
14.0     79
Name: First sexual intercourse, dtype: int64
Num of pregnancies
1.0    270
2.0    240
3.0    139
4.0     74
5.0     35
Name: Num of pregnancies, dtype: int64
Smokes
0.0    722
1.0    123
Name: Smokes, dtype: int64
Smokes (years)
0.0            722
1.266972909     15
5.0              9
9.0              9
1.0              8
Name: Smokes (years), dtype: int64
Smokes (packs/year)
0.0             722
0.5132021277     18
1.0               6
3.0               5
1.2               4
Name: Smokes (packs/year), dtype: int64
Hormonal Contraceptives
1.0    481
0.0    269
Name: Hormonal Contraceptives, dtype: int64
Hormonal Contraceptives (years)
0.0     269
1.0      77
0.25     41
2.0      40
3.0      39
Name: Hormonal Contraceptives (years), dtype: int64
IUD
0.0    658
1.0     83
Name: IUD, dtype: int64
IUD (years)
0.0    658
3.0     11
2.0     10
5.0      9
1.0      8
Name: IUD (years), dtype: int64
STDs
0.0    674
1.0     79
Name: STDs, dtype: int64
STDs (number)
0.0    674
2.0     37
1.0     34
3.0      7
4.0      1
Name: STDs (number), dtype: int64
STDs:condylomatosis
0.0    709
1.0     44
Name: STDs:condylomatosis, dtype: int64
STDs:cervical condylomatosis
0.0    753
Name: STDs:cervical condylomatosis, dtype: int64
STDs:vaginal condylomatosis
0.0    749
1.0      4
Name: STDs:vaginal condylomatosis, dtype: int64
STDs:vulvo-perineal condylomatosis
0.0    710
1.0     43
Name: STDs:vulvo-perineal condylomatosis, dtype: int64
STDs:syphilis
0.0    735
1.0     18
Name: STDs:syphilis, dtype: int64
STDs:pelvic inflammatory disease
0.0    752
1.0      1
Name: STDs:pelvic inflammatory disease, dtype: int64
STDs:genital herpes
0.0    752
1.0      1
Name: STDs:genital herpes, dtype: int64
STDs:molluscum contagiosum
0.0    752
1.0      1
Name: STDs:molluscum contagiosum, dtype: int64
STDs:AIDS
0.0    753
Name: STDs:AIDS, dtype: int64
STDs:HIV
0.0    735
1.0     18
Name: STDs:HIV, dtype: int64
STDs:Hepatitis B
0.0    752
1.0      1
Name: STDs:Hepatitis B, dtype: int64
STDs:HPV
0.0    751
1.0      2
Name: STDs:HPV, dtype: int64
STDs: Number of diagnosis
0    787
1     68
2      2
3      1
Name: STDs: Number of diagnosis, dtype: int64
STDs: Time since first diagnosis
1.0    15
3.0    10
2.0     9
4.0     6
7.0     5
Name: STDs: Time since first diagnosis, dtype: int64
STDs: Time since last diagnosis
1.0    17
2.0    10
3.0     9
4.0     6
7.0     5
Name: STDs: Time since last diagnosis, dtype: int64
Dx:Cancer
0    840
1     18
Name: Dx:Cancer, dtype: int64
Dx:CIN
0    849
1      9
Name: Dx:CIN, dtype: int64
Dx:HPV
0    840
1     18
Name: Dx:HPV, dtype: int64
Dx
0    834
1     24
Name: Dx, dtype: int64
Hinselmann
0    823
1     35
Name: Hinselmann, dtype: int64
Schiller
0    784
1     74
Name: Schiller, dtype: int64
Citology
0    814
1     44
Name: Citology, dtype: int64
Biopsy
0    803
1     55
Name: Biopsy, dtype: int64

In [88]:
for i in range(len(data1.columns)):
    print(data1.columns[i])
    print(data1.iloc[:,i].unique())

Age
[18 15 34 52 46 42 51 26 45 44 27 43 40 41 39 37 38 36 35 33 31 32 30 23
 28 29 20 25 21 24 22 48 19 17 16 14 59 79 84 47 13 70 50 49]
Number of sexual partners
['4.0' '1.0' '5.0' '3.0' '2.0' '6.0' '?' '7.0' '15.0' '8.0' '10.0' '28.0'
 '9.0']
First sexual intercourse
['15.0' '14.0' '?' '16.0' '21.0' '23.0' '17.0' '26.0' '20.0' '25.0' '18.0'
 '27.0' '19.0' '24.0' '32.0' '13.0' '29.0' '11.0' '12.0' '22.0' '28.0'
 '10.0']
Num of pregnancies
['1.0' '4.0' '2.0' '6.0' '3.0' '5.0' '?' '8.0' '7.0' '0.0' '11.0' '10.0']
Smokes
['0.0' '1.0' '?']
Smokes (years)
['0.0' '37.0' '34.0' '1.266972909' '3.0' '12.0' '?' '18.0' '7.0' '19.0'
 '21.0' '15.0' '13.0' '16.0' '8.0' '4.0' '10.0' '22.0' '14.0' '0.5' '11.0'
 '9.0' '2.0' '5.0' '6.0' '1.0' '32.0' '24.0' '28.0' '20.0' '0.16']
Smokes (packs/year)
['0.0' '37.0' '3.4' '2.8' '0.04' '0.5132021277' '2.4' '6.0' '?' '9.0'
 '1.6' '19.0' '21.0' '0.32' '2.6' '0.8' '15.0' '2.0' '5.7' '1.0' '3.3'
 '3.5' '12.0' '0.025' '2.75' '0.2' '1.4' '5.0' '2.1' '0.7' '1.2' '7.5'
 '1.25' '3.0' '0.75' '0.1' '8.0' '2.25' '0.003' '7.0' '0.45' '0.15' '0.05'
 '0.25' '4.8' '4.5' '0.4' '0.37' '2.2' '0.16' '0.9' '22.0' '1.35' '0.5'
 '2.5' '4.0' '1.3' '1.65' '2.7' '0.001' '7.6' '5.5' '0.3']
Hormonal Contraceptives
['0.0' '1.0' '?']
Hormonal Contraceptives (years)
['0.0' '3.0' '15.0' '2.0' '8.0' '10.0' '5.0' '0.25' '7.0' '22.0' '19.0'
 '0.5' '1.0' '0.58' '9.0' '13.0' '11.0' '4.0' '12.0' '16.0' '0.33' '?'
 '0.16' '14.0' '0.08' '2.282200521' '0.66' '6.0' '1.5' '0.42' '0.67'
 '0.75' '2.5' '4.5' '6.5' '0.17' '20.0' '3.5' '0.41' '30.0' '17.0']
IUD
['0.0' '1.0' '?']
IUD (years)
['0.0' '7.0' '?' '5.0' '8.0' '6.0' '1.0' '0.58' '2.0' '19.0' '0.5' '17.0'
 '0.08' '0.25' '10.0' '11.0' '3.0' '15.0' '12.0' '9.0' '1.5' '0.91' '4.0'
 '0.33' '0.41' '0.16' '0.17']
STDs
['0.0' '1.0' '?']
STDs (number)
['0.0' '2.0' '1.0' '?' '3.0' '4.0']
STDs:condylomatosis
['0.0' '1.0' '?']
STDs:cervical condylomatosis
['0.0' '?']
STDs:vaginal condylomatosis
['0.0' '?' '1.0']
STDs:vulvo-perineal condylomatosis
['0.0' '1.0' '?']
STDs:syphilis
['0.0' '1.0' '?']
STDs:pelvic inflammatory disease
['0.0' '?' '1.0']
STDs:genital herpes
['0.0' '?' '1.0']
STDs:molluscum contagiosum
['0.0' '?' '1.0']
STDs:AIDS
['0.0' '?']
STDs:HIV
['0.0' '1.0' '?']
STDs:Hepatitis B
['0.0' '?' '1.0']
STDs:HPV
['0.0' '?' '1.0']
STDs: Number of diagnosis
[0 1 3 2]
STDs: Time since first diagnosis
['?' '21.0' '2.0' '15.0' '19.0' '3.0' '12.0' '1.0' '11.0' '9.0' '7.0'
 '8.0' '16.0' '6.0' '5.0' '10.0' '4.0' '22.0' '18.0']
STDs: Time since last diagnosis
['?' '21.0' '2.0' '15.0' '19.0' '3.0' '12.0' '1.0' '11.0' '9.0' '7.0'
 '8.0' '16.0' '6.0' '5.0' '10.0' '4.0' '22.0' '18.0']
Dx:Cancer
[0 1]
Dx:CIN
[0 1]
Dx:HPV
[0 1]
Dx
[0 1]
Hinselmann
[0 1]
Schiller
[0 1]
Citology
[0 1]
Biopsy
[0 1]

The null value is represented by "?"

In [98]:
#using scikit learn simple Imputer
## turning ? into most frequent
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values='?', strategy='most_frequent')
X = imputer.fit_transform(data1)
X

We can first transform into null for since the rest is number

In [112]:
def remove_null(e):
    if e=="?":
        return np.nan
    else:
        return e

data1=data1.applymap(remove_null)

now for another imputer for `np.nan`

In [148]:
#convert types to int
#data1.convert_dtypes().info()#try to infer datatypes (not very good)
data1.select_dtypes("object").astype("float")

SyntaxError: cannot assign to function call (<ipython-input-148-217d3fc3a8e6>, line 3)

In [152]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
knnimputed=pd.DataFrame(imputer.fit_transform(data1))
knnimputed.columns=data1.columns

In [153]:
knnimputed

,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,IUD (years),...,STDs:syphilis,STDs:pelvic inflammatory disease,STDs:genital herpes,STDs:molluscum contagiosum,STDs:AIDS,STDs:HIV,STDs:Hepatitis B,STDs:HPV,STDs: Time since first diagnosis,STDs: Time since last diagnosis
0,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.5,8.5
1,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,1.0,21.5,1.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,2.5
3,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.5,1.5
4,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,3.0,18.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,13.0
854,2.0,19.0,1.0,0.0,0.0,0.0,1.0,8.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0
855,2.0,17.0,0.0,0.0,0.0,0.0,1.0,0.08,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.5,9.5
856,2.0,24.0,2.0,0.0,0.0,0.0,1.0,0.08,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,4.5
857,2.0,20.0,1.0,0.0,0.0,0.0,1.0,0.50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5,2.5

## Create features

In [122]:
#apply lambda function to a column
data1['Biopsy'].apply(lambda x: x+1)

0      1
1      1
2      1
3      1
4      1
      ..
853    1
854    1
855    1
856    1
857    1
Name: Biopsy, Length: 858, dtype: int64

In [179]:
def if_1_10(e):
    if e==1.0:
        return 10
    else:
        return e

data1.applymap(if_1_10)#works with lambda as well

,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,IUD (years),...,STDs:syphilis,STDs:pelvic inflammatory disease,STDs:genital herpes,STDs:molluscum contagiosum,STDs:AIDS,STDs:HIV,STDs:Hepatitis B,STDs:HPV,STDs: Time since first diagnosis,STDs: Time since last diagnosis
0,4.0,15.0,10.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,10.0,14.0,10.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,10.0,NaN,10.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,5.0,16.0,4.0,10.0,37.0,37.0,10.0,3.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,3.0,21.0,4.0,0.0,0.0,0.0,10.0,15.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,3.0,18.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
854,2.0,19.0,10.0,0.0,0.0,0.0,10.0,8.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
855,2.0,17.0,0.0,0.0,0.0,0.0,10.0,0.08,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
856,2.0,24.0,2.0,0.0,0.0,0.0,10.0,0.08,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
857,2.0,20.0,10.0,0.0,0.0,0.0,10.0,0.50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

## Detecting outtliers

In [155]:
from sklearn.covariance import EllipticEnvelope
# Create detector
outlier_detector = EllipticEnvelope(contamination=.1)

# Fit detector
outlier_detector.fit(knnimputed)

# Predict outliers
detec=outlier_detector.predict(knnimputed) #return an npArray with the same number of element as rows of original

C:\Users\joaof\AppData\Roaming\Python\Python38\site-packages\sklearn\covariance\_robust_covariance.py:647: UserWarning: The covariance matrix associated to your dataset is not full rank
  warnings.warn("The covariance matrix associated to your dataset "

In [171]:
#transform array of -1 (outlier) and 1 (non.outlier) to a boolean and filter DF
toBool = lambda t: True if (t==-1) else False

detec_bool = np.array([toBool(xi) for xi in detec])

In [174]:
outliers=knnimputed.iloc[detec_bool,:]
outliers

,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),IUD,IUD (years),...,STDs:syphilis,STDs:pelvic inflammatory disease,STDs:genital herpes,STDs:molluscum contagiosum,STDs:AIDS,STDs:HIV,STDs:Hepatitis B,STDs:HPV,STDs: Time since first diagnosis,STDs: Time since last diagnosis
3,5.0,16.0,4.0,1.0,37.0,37.00,1.0,3.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.5,1.5
6,3.0,17.0,6.0,1.0,34.0,3.40,0.0,0.00,1.0,7.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.5,1.5
21,3.0,17.0,4.0,0.0,0.0,0.00,1.0,10.00,0.0,0.00,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,21.0
30,3.0,17.0,3.0,0.0,0.0,0.00,1.0,22.00,1.0,0.58,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0
31,2.0,21.0,2.0,0.0,0.0,0.00,1.0,19.00,1.0,8.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,4.0,17.0,0.0,0.0,0.0,0.00,1.0,0.75,0.0,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,11.0
831,3.0,23.0,2.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,8.0,8.0
834,3.0,15.0,0.0,1.0,16.0,8.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,11.0
837,9.0,17.5,1.0,1.0,11.0,5.50,1.0,0.25,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,4.5
849,3.0,18.0,1.0,1.0,11.0,0.16,1.0,6.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,11.5,11.5